<p>{{record.name}}</p>
<p>{{record.category}}</p>
<p>{{record.date}}</p>
<p>{{record.amount}}</p>
<a href="/records/{{record._id}}/edit">edit</a>
<a href="/">back</a>
<form action="/records/{{record._id}}/delete" method="POST" style="display: inline">
  <button type="submit">delete</button>
</form>