<a href="./records/create">Create</a>

<ul>
  {{#each records}}
  <div>
    {{this.category}}
    <div style="display: inline;">
      {{this.name}}
    </div>
    <div style="display: inline;">
      <span> {{this.date}} </span>
      <span>{{this.amount}}</span>
    </div>
    <a href="./records/{{this._id}}">details</a>
    <a href="./records/{{this._id}}/edit">edit</a>
    <form action="./records/{{this._id}}/delete" method="POST" style="display: inline">
      <button type="submit">delete</button>
    </form>
  </div>
  {{/each}}
</ul>