<div class="row mt-3">
  <div class="d-flex align-items-center justify-content-center" style="text-align:center;">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <h4>總金額:</h4>
    </div>
    <div class="col-6 total-amount m-4 d-flex align-items-center justify-content-start">
      <h1 style="color: rgb(255, 94, 0);">
        ${{totalAmount}}
      </h1>
    </div>
  </div>
</div>


<div class="select-form" style="background-color: peachpuff; border: 2px solid rgb(172, 165, 165);">
  <form action="/filter">
    <div class=" row flex-md-nowrap">
      <div class="col-md-2 d-flex align-items-center justify-content-center" style="font-weight: 600;">
        <div class="categoryBtn " style="margin-right:20px;">
          <select name="category" id="category" class="btn btn-success" onchange="this.form.submit()"
            style="cursor: pointer;">
            <option style="color:black;font-weight:700;" selected>{{#if category}}{{category}}{{else}}全部類別{{/if}}
            </option>
            <option>全部類別</option>
            <option>家居物業</option>
            <option>交通出行</option>
            <option>休閒娛樂</option>
            <option>餐飲食品</option>
            <option>其他</option>
          </select>
        </div>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center" style="font-weight: 600;">店家</div>
      <div class="col-2 d-flex align-items-center justify-content-center" style="font-weight: 600;">消費名目</div>

      <div class="monthBtn col-3 d-flex align-items-center justify-content-center">
        <select name="month" id="month" class="btn btn-success" onchange="this.form.submit()" style="cursor: pointer;">
          <option style="color:black;font-weight:700;" selected>{{#if month}}{{month}}{{else}}全部月份{{/if}}</option>
          <option>全部月份</option>
          {{#each months}}
          <option>{{this}}</option>
          {{/each}}
        </select>
      </div>

      <div class="col-2 d-flex align-items-center justify-content-center" style="font-weight: 600;">金額</div>
      <div class="col-2 d-flex align-items-center justify-content-start" style="font-weight: 600;">功能</div>
    </div>
  </form>
</div>



{{#each records}}
<a href="/records/{{this._id}}" class="col-12 " style="text-decoration: none; color: black;">
  <div class="card" style="{{{this.iconColor}}}">
    <div class=" row flex-md-nowrap">

      <div class="col-md-2 d-flex align-items-center justify-content-center">
        {{{this.iconHTML}}}
      </div>
      <div class="col-2 py-2 d-flex justify-content-evenly align-items-center"
        style="font-size: larger; font-weight: 600;">
        <span> {{this.merchant}} </span>
      </div>

      <div class="col-2 py-2 d-flex justify-content-evenly align-items-center"
        style="font-size: larger; font-weight: 600;">
        <span> {{this.name}} </span>
      </div>

      <div class="col-3 py-2 d-flex justify-content-evenly align-items-center"
        style="font-size: larger; font-weight: 600;">
        <span> {{this.date}} </span>
      </div>

      <div class="col-2 d-flex align-items-center justify-content-center" style="font-size: larger; font-weight: 600;">
        <span>${{this.amount}}</span>
      </div>

      <div class="col-1">
        <form action="/records/{{ this._id }}/edit" method="GET">
          <button type="submit" class="btn "><i class="fas fa-edit fa-lg"></i></button>
        </form>

        <form action="/records/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn" id="delete=btn"><i class="far fa-trash-alt fa-lg"></i></button>
        </form>
      </div>
    </div>
  </div>
</a>
{{/each}}