<div class="row mt-3">
  <div class="col-md-8">
    <form action="/" method="get">
      <select class="form-select" name="category" aria-label="select category" data-selected="{{searchedCategory}}"
        id="categoryRecord" onchange="submit();">
        <option value="" selected>所有分類</option>
        {{#each categories}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </form>
  </div>
</div>

<div class="row mt-3">
  <div class="row d-flex justify-content-center " style="text-align:center">
    <div class="total-amount-title">
      <h4>總金額</h4>
    </div>
    <div class="total-amount m-4">
      <h1 style="color: orange;">
        ${{totalAmount}}
      </h1>
    </div>
  </div>
</div>



<div class="card" style="background-color: peachpuff;">
  <div class=" row flex-md-nowrap">
    <div class="col-md-2 d-flex align-items-center justify-content-center" style="font-weight: 600;">類別</div>
    <div class="col-3 py-2 d-flex justify-content-evenly align-items-center" style="font-weight: 600;">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">名稱
        {{#if currentSelected}} {{currentSelected}} {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/sort/name/asc">名稱: A-Z</a>
        <a class="dropdown-item" href="/sort/name/desc">名稱: Z-A</a>
      </div>
    </div>
    <div class="col-3 py-2 d-flex justify-content-evenly align-items-center" style="font-weight: 600;">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">日期
        {{#if currentSelected}} {{currentSelected}} {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/sort/date/asc">日期：近</a>
        <a class="dropdown-item" href="/sort/date/desc">日期：遠</a>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center" style="font-weight: 600;">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">金額
        {{#if currentSelected}} {{currentSelected}} {{/if}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/sort/amount/asc">金額: 小</a>
        <a class="dropdown-item" href="/sort/amount/desc">金額: 大</a>
      </div>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-start" style="font-weight: 600;">功能</div>
  </div>
</div>


{{#each records}}
<a href="/records/{{this._id}}" style="text-decoration: none; color: black;  ">
  <div class="card">
    <div class=" row flex-md-nowrap">


      <div class="col-md-2 d-flex align-items-center justify-content-center">
        {{{this.iconHTML}}}
      </div>
      <div class="col-3 py-2 d-flex justify-content-evenly align-items-center">
        {{this.name}}
      </div>

      <div class="col-3 py-2 d-flex justify-content-evenly align-items-center">
        <span> {{this.date}} </span>
      </div>

      <div class="col-3 d-flex align-items-center justify-content-center">
        <span>${{this.amount}}</span>
      </div>


      <div class="col-2">
        <form action="/records/{{ this._id }}/edit" method="GET">
          <button type="submit" class="btn "><i class="fas fa-edit fa-lg"></i></button>
        </form>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn" id="delete=btn"><i class="far fa-trash-alt fa-lg"></i></button>
        </form>
      </div>


    </div>

  </div>
</a>
{{/each}}